<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Influence-USA</title>
        <meta name="description" content="Documentation and reference library for ZURB Foundation. JavaScript, CSS, components, grid and more."/>
        <meta name="author" content="ZURB, inc. ZURB network also includes zurb.com"/>
        <meta name="copyright" content="ZURB, inc. Copyright (c) 2015"/>
        <link rel="stylesheet" href="/assets/css/foundation.css"/>
        <script src="/assets/js/vendor/modernizr.js"></script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-51138187-2', 'auto');
          ga('send', 'pageview');

        </script>

        <style>

            a.status {
                display: inline-block;
                background-size: contain;
                text-decoration: none;
                text-indent: -9999em;
                width: 44px;
                height: 44px;
            }

            .data-model {
                background: url('/assets/site-images/data-model.svg') top left no-repeat;
            }

            .scraper {
                background: url('/assets/site-images/scraper.svg') top left no-repeat;
            }

            .crawler {
                background: url('/assets/site-images/crawler.svg') top left no-repeat;
            }

            .mining {
                background: url('/assets/site-images/mining.svg') top left no-repeat;
            }

            .docs {
                background: url('/assets/site-images/docs.svg') top left no-repeat;
            }

            .robot {
                background: url('/assets/site-images/robot.svg') top left no-repeat;
            }

            .table {
                background: url('/assets/site-images/table.svg') top left no-repeat;
            }
            
            .phone {
                background: url('/assets/site-images/phone.svg') top left no-repeat;
            }

            .done {
                background-color: #43AC6A;
            }

            .in-progress {
                background-color: #f08a24;
            }

            .todo {
                background-color: #f04124;
            }
        </style>

    </head>
    <body>

        <div class="row">
            <div class="large-3 columns">
                <h1><img src="/assets/site-images/influence-usa_logo.png" alt="Influence USA"/></h1>
            </div>
            <div class="large-9 columns">
                <ul class="inline-list right">
                    <li><a href="#about">About</a></li>
                    <li><a href="#getInvolved">Get Involved!</a></li>
                    <li><a href="#progress">Progress</a></li>
                </ul>
            </div>
            <div class="large-9 columns">
                <h2>
                     Influence USA <small><a href="https://github.com/influence-usa">github.com/influence-usa</a></small>
                </h2>
                <p>
                    A community of data plumbers working on obtaining, cleaning and transforming data describing political influence
                </p>
            </div>
        </div>

        <div class="row">
            
            <div class="large-12 columns">
                <div id="about">
                    <h3>
                        About
                    </h3>
                    <p>
                        This project's goal is to become a commons for the work of acquiring, parsing and generating data on political influence in the United States of America.
                    </p>
                </div>
                <div id="getInvolved">
                    <h3>
                        Get Involved
                    </h3>
                    <p>
                        We'll be at PyCon 2015! More info <a href="http://sunlightfoundation.com/blog/2015/04/07/join-us-at-pycon-2015/">here</a>.
                    </p>
                </div>
            </div>
            


        </div>
        
        <div class="row" id="progress">
            <div class="large-12 columns">
                <div id="progress">
                    <h3>
                        Progress
                    </h3>
                    <div>
                        <div class="magellan-container" data-magellan-expedition="fixed" style="">
                          <dl class="sub-nav">
                            <dt>Tasks:</dt>
                            <dd data-magellan-arrival="build" class="">
                                <a class="status data-model" data-dropdown="data-model-info" href="#" aria-expanded="true">data-model</a>
                            </dd>
                            <dd data-magellan-arrival="build" class="">
                                <a class="status docs" data-dropdown="docs-info" href="#" aria-expanded="true">data-model</a>
                            </dd>
                            <dd data-magellan-arrival="build" class="">
                                <a class="status crawler" data-dropdown="crawler-info" href="#" aria-expanded="true">data-model</a>
                            </dd>
                            <dd data-magellan-arrival="build" class="">
                                <a class="status scraper" data-dropdown="scraper-info" href="#" aria-expanded="true">data-model</a>
                            </dd>
                            <dd data-magellan-arrival="build" class="">
                                <a class="status mining" data-dropdown="mining-info" href="#" aria-expanded="true">data-model</a>
                            </dd>
                            <dd data-magellan-arrival="build" class="">
                                <a class="status robot" data-dropdown="robot-info" href="#" aria-expanded="true">data-model</a>
                            </dd>
                            <dd data-magellan-arrival="build" class="">
                                <a class="status table" data-dropdown="table-info" href="#" aria-expanded="true">data-model</a>
                            </dd>
                            <dd data-magellan-arrival="build" class="">
                                <a class="status phone" data-dropdown="phone-info" href="#" aria-expanded="true">data-model</a>
                            </dd>
                            <dt>Statuses: <dt>
                            <dd data-magellan-arrival="build" class="">
                                <a class="status done" data-dropdown="done-info" href="#" aria-expanded="true">data-model</a>
                            </dd>
                            <dd data-magellan-arrival="build" class="">
                                <a class="status in-progress" data-dropdown="in-progress-info" href="#" aria-expanded="true">data-model</a>
                            </dd>
                            <dd data-magellan-arrival="build" class="">
                                <a class="status todo" data-dropdown="todo-info" href="#" aria-expanded="true">data-model</a>
                            </dd>
                          </dl>
                        </div>
                        <div class="f-dropdown content medium" data-dropdown-content="" id="data-model-info" style="position: absolute; top: 3540.96255493164px; left: -99999px;" aria-hidden="true">
                            <h4>Data Model Needed</h4>

                            <p>
                            This task requires that the available records, fields and attributes be mapped to the Open Civic Data abstract datatypes.
                            </p>
                            
                            <ul>
                                <li><a href="#">More info</a></li>
                                <li><a href="#">examples</a></li>
                            </ul>

                            
                            <img src="/assets/site-images/data-model.svg">

                        </div>
                        <div class="f-dropdown content medium" data-dropdown-content="" id="docs-info" style="position: absolute; top: 3540.96255493164px; left: -99999px;" aria-hidden="true">
                            <h4>Documentation Needed</h4>

                            <p>
                                Documentation of the data is needed. It should include information about the disclosures themselves, such as how often they're updated or how to aggregate (count, sum) multiple transactions.
                            </p>
                            
                            <ul>
                                <li><a href="#">More info</a></li>
                                <li><a href="#">examples</a></li>
                            </ul>

                            
                            <img src="/assets/site-images/docs.svg">

                        </div>
                        <div class="f-dropdown content medium" data-dropdown-content="" id="crawler-info" style="position: absolute; top: 3540.96255493164px; left: -99999px;" aria-hidden="true">
                            <h4>Crawler Needed</h4>

                            <p>
                                Before this data can be scraped or downloaded, a crawler must be written to follow a network of links and gather source URLs.
                            </p>
                            
                            <ul>
                                <li><a href="#">More info</a></li>
                                <li><a href="#">examples</a></li>
                            </ul>

                            
                            <img src="/assets/site-images/crawler.svg">

                        </div>
                        <div class="f-dropdown content medium" data-dropdown-content="" id="scraper-info" style="position: absolute; top: 3540.96255493164px; left: -99999px;" aria-hidden="true">
                            <h4>Scraper Needed</h4>

                            <p>
                                Resouces at source URLs for the data are machine-readable, but not in a standard data exchange format. A scraper needs to be written to turn these into normalized data.
                            </p>
                            
                            <ul>
                                <li><a href="#">More info</a></li>
                                <li><a href="#">examples</a></li>
                            </ul>

                            
                            <img src="/assets/site-images/scraper.svg">

                        </div>
                        <div class="f-dropdown content medium" data-dropdown-content="" id="mining-info" style="position: absolute; top: 3540.96255493164px; left: -99999px;" aria-hidden="true">
                            <h4>Mining Needed</h4>

                            <p>
                               Even when normalized, this data contains fields or attributes that need to be parsed. Often, this means a free-text field or some other semi-structured field that needs to be converted into a structured one. 
                            </p>
                            
                            <ul>
                                <li><a href="#">More info</a></li>
                                <li><a href="#">examples</a></li>
                            </ul>

                            
                            <img src="/assets/site-images/mining.svg">

                        </div>
                        <div class="f-dropdown content medium" data-dropdown-content="" id="robot-info" style="position: absolute; top: 3540.96255493164px; left: -99999px;" aria-hidden="true">
                            <h4>Robot Needed</h4>

                            <p>
                                This is a crappy situation, where the available data is in a format (often scanned images or PDFs) that require advanced machine-learning techniques to parse. Not for the faint of heart!
                            </p>
                            
                            <ul>
                                <li><a href="#">More info</a></li>
                                <li><a href="#">examples</a></li>
                            </ul>

                            
                            <img src="/assets/site-images/robot.svg">

                        </div>
                        <div class="f-dropdown content medium" data-dropdown-content="" id="table-info" style="position: absolute; top: 3540.96255493164px; left: -99999px;" aria-hidden="true">
                            <h4>Table Import Needed</h4>

                            <p>
                                When data is available in a machine-readable, standardized data exchange format (csv, xml, json), all that's needed is an Extract-Transform-Load script. This is a great place to start when getting to know the Open Civic Data models and scraping infrastructure!
                            </p>
                            
                            <ul>
                                <li><a href="#">More info</a></li>
                                <li><a href="#">examples</a></li>
                            </ul>

                            
                            <img src="/assets/site-images/table.svg">

                        </div>
                        <div class="f-dropdown content medium" data-dropdown-content="" id="phone-info" style="position: absolute; top: 3540.96255493164px; left: -99999px;" aria-hidden="true">
                            <h4>Phone call needed</h4>

                            <p>
                                Sometimes, there's just nothing we can do. Either the data is unavailable or it doesn't exist because the government doesn't require disclosure. That's when we pick up the phone and try to find out why.
                            </p>
                            
                            <ul>
                                <li><a href="#">More info</a></li>
                                <li><a href="#">examples</a></li>
                            </ul>

                            
                            <img src="/assets/site-images/phone.svg">

                        </div>
                        <div class="f-dropdown content medium" data-dropdown-content="" id="done-info" style="position: absolute; top: 3540.96255493164px; left: -99999px;" aria-hidden="true">
                            <h4 class="done">Closed</h4>

                            <p>
                                The issue opened for this task is closed.
                            </p>

                        </div>
                        <div class="f-dropdown content medium" data-dropdown-content="" id="todo-info" style="position: absolute; top: 3540.96255493164px; left: -99999px;" aria-hidden="true">
                            <h4 class="todo">Open</h4>

                            <p>
                                No one's working on this task, yet. You should!
                            </p>
                            
                        </div>
                        <div class="f-dropdown content medium" data-dropdown-content="" id="in-progress-info" style="position: absolute; top: 3540.96255493164px; left: -99999px;" aria-hidden="true">
                            <h4 class="in-progress">Assigned</h4>

                            <p>
                                Someone is assigned to this task. Maybe you can help them, though!
                            </p>
                            
                        </div>
                    </div>

                    <ul class="tabs" data-tab>
                      <li class="tab-title active"><a href="#panel1">Campaign Finance</a></li>
                      <li class="tab-title"><a href="#panel2">Lobbying</a></li>
                      <li class="tab-title"><a href="#panel3">Other Disclsoures</a></li>
                    </ul>

                    <div class="tabs-content">
                        <div class="content active" id="panel1">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Jurisdiction</th>
                                        <th>Disclosure Type</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for item in campaign_finance_tasks %}
                                    <tr>
                                        <td>
                                            {{ item.jurisdiction }}
                                        </td>
                                        <td>
                                            {{ item.disclosuretype }}
                                        </td>
                                        <td>
                                            {% for status in item.statuses %}
                                                {% if status.state %}
                                                <a href="{{status.url}}" class="status {{status.task}} {{status.state}}">{{status.task}} {{status.state}}</a>
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="content" id="panel2">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Jurisdiction</th>
                                        <th>Registrations</th>
                                        <th>Reporting</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for item in lobbying_tasks %}
                                    <tr>
                                        <td>
                                            {{ item.jurisdiction }}
                                        </td>
                                        <td>
                                            {{ item.disclosuretype }}
                                        </td>
                                        <td>
                                            {% for status in item.statuses %}
                                                {% if status.state %}
                                                <a href="{{status.url}}" class="status {{status.task}} {{status.state}}">{{status.task}} {{status.state}}</a>
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="content" id="panel3">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Jurisdiction</th>
                                        <th>Registrations</th>
                                        <th>Reporting</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for item in other_tasks %}
                                    <tr>
                                        <td>
                                            {{ item.jurisdiction }}
                                        </td>
                                        <td>
                                            {{ item.disclosuretype }}
                                        </td>
                                        <td>
                                            {% for status in item.statuses %}
                                                {% if status.state %}
                                                <a href="{{status.url}}" class="status {{status.task}} {{status.state}}">{{status.task}} {{status.state}}</a>
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            

        </div>

        <footer class="row">
            <div class="large-12 columns">
            </div>
        </footer>
        <script src="/assets/js/vendor/jquery.js"></script>
        <script src="/assets/js/foundation.min.js"></script>
        <script>
            $(document).foundation();

            var doc = document.documentElement;
            doc.setAttribute('data-useragent', navigator.userAgent);
        </script>
    </body>
</html>
